.fontSizeHandle {
  width: 500px;
  font-size: 30px;
  font-family: "SDSamliphopangche_Outline";
  font-weight: normal;
  font-style: normal;
  padding: 5px 50px 50px 150px;
  border-radius: 20px;
  margin-bottom: -60px;
}

.textSizeSlider {
  width: 400px;
  cursor: grab;
}
