#titleSide {
  padding: 20px;
}

.bigTitle {
  width: 500px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.445);
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-family: "SDSamliphopangche_Outline";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 1em;
}

.middleTitle {
  width: 500px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.445);
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-family: "SDSamliphopangche_Outline";
  font-weight: normal;
  font-size: 30px;
  padding: 0 0 0 110px;
  border-radius: 20px 20px 0 0;
}

.middleTitlePhrases {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.445);
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-family: "SDSamliphopangche_Outline";
  font-weight: normal;
  font-size: 30px;
  padding: 0px 200px;
  border-radius: 20px 20px 0 0;
}

.fontSizeHandle,
.midTitleFontType,
.midTitleColor {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.445);
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-family: "SDSamliphopangche_Outline";
  font-size: 30px;
  padding: 0 0 0 130px;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgb(124, 124, 124);
}

.midTitleColor {
  padding: 0 0 0 183px;
}

.middleTitleSaveAs {
  width: 500px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.445);
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-family: "SDSamliphopangche_Outline";
  font-weight: normal;
  font-size: 20px;
  padding: 0px 20px 70px 50px;
  border-radius: 25px;
  border: 1px solid rgb(124, 124, 124);
  margin-bottom: 60px;
}
