html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* canvas {
  display: flex;
  margin-top: 3em;
} */
/* 
button {
  display: flex;
} */
