html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  display: flex;
  margin-top: 3em;
  border-radius: 10px;
}
/* 
button {
  display: flex;
} */
